<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="static\css\login.css" rel="stylesheet">
    <title>Log In</title>
    <style>

    </style>
</head>

<body class="text-center">
    <main class="form-signin">
        <form>
            <img class="mb-4 img-style" src="static/img/logo_hc.png" alt="">
            <h1 class="h5 mb-3 fw-normal">Bienvenido! Iniciá sesión:</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="nombreusuario@example.com">
                <label for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="mb-3">
                <label>
                    <a href="#" class="links">Olvidé mi contraseña</a>
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary button-style" type="submit">Log In</button>
        </form>
    </main>
</body>

</html>